# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.envcdcd
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# ML specific
*.joblib
*.pkl
*.h5
*.model
*.weights

# OS specific
.DS_Store
Thumbs.db

# Project specific
/FrostFind/backend/Classifier/models/*.joblib
/FrostFind/external libraries/
/external libraries/
/node_modules/
/bower_components/

# Dependencies and package files
package-lock.json
yarn.lock
poetry.lock
Pipfile.lock

# Logs
*.log
logs/
log/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover