@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif !important;
}

#menubar{
  display: none !important;
}

li{
  cursor: pointer !important;
}

@media (width <= 800px) {
  #menubar{
    display: block !important;
  }

  #nav-link{
    display: none !important;
  }
}